@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif; 
    font-weight: 400;
    color: #222222;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header__right, .header__left{
    display: flex;
    align-items: center;
}

.header__logo img {
    margin-right: 13px;
}

.header__logo{
    text-transform: uppercase;
    font-size: 27px;
    display: flex;
    align-items: center;
    text-decoration: none;
    line-height: 50px;
    margin-right: 37px;
    color: #222222;
}
.header__logo span {
  font-weight: 700;
  color: $mainColor;
  letter-spacing: 0.68px;
}
.header__logo:hover{
    opacity: 0.5;
    cursor: pointer;
}
.header__search{
    height: 38px;
    display: flex;
    align-items: center;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
}
.browse{
    font-size: 14px;
    font-weight: 300;
    padding: 26px 15px;
    letter-spacing: 0.35px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(#f9f9f9 0%, #f5f5f5 100%);
}
.browse:hover{
    opacity: 0.5;
    cursor: pointer;
}
}
.browse i, .header__account-bar i{
    padding-left: 8px;
}

.header__search input{
    border: none;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    outline: none;
    overflow: hidden;
    height: inherit;
    padding: 14px 16px;
    
}

.header__search button{
    border: none;
    outline: none;
    opacity: 0.35;
    background-color: none;
}

input[placeholder]{
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    opacity: 0.3;
}
input[name="search"]:focus,
textarea[name="search"]:focus{
text-transform: capitalize;
color: #222222;
opacity: 1.5;
}
.header__cart{
    margin-right: 28px;
}
.header__cart:hover{
    opacity: 0.5;
    cursor: pointer;
}
.header__account-bar{
    color: #ffffff;
    font-size: 15px;
    line-height: 38px;
    background-color: #f16d7f;
    padding: 0 12px 0 19px;
    text-decoration: none;
}
.header__account-bar:hover{
    opacity: 0.5;
    cursor: pointer;
}

.header__Line{
    border-bottom: 1px solid #ececec;
}

.topNav{
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    
}

.topNav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
    position: relative;
    line-height: 3;
    
    
}
.topNav a:after {
	display: block;
	position: absolute;
	width: 0;
	height: 3px; 
	background-color: #f16d7f; 
	content: "";
    
	
}
.topNav a:hover:after, a:focus:after {
	width: 100%; 
   
}
.topNav a:hover{
    opacity: 0.5;
    cursor: pointer;
    
}

.topNav a:not(:last-child){
    margin-right: 48px;
}

.block__brand{
    height: 614px;
    background-color: #e8e8e8;
}

.container__brand{
    display: flex;
    align-items: center;
    width: 1140px;
    height: 614px;
    background-color: #e8e8e8;
}

.border{
    
    border-left: 12px  solid #f16d7f;
    height: 92px;
}

.brand{
    padding-left: 19px;
    font-size: 60px;
    letter-spacing: 1.5px;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    line-height: 45px;
    
}

span{
    color: #f16d7f;
    font-weight: 400;
}

.fashion{
    padding-left: 19px;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 65px;
    letter-spacing: 1px;
}

.topHeaderBack{
    width: 49%;
    height:inherit;
    background-image: url(../img/topHeaderBack.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
}

.block__3 {
    margin-top: 98px;
    height: 822px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-around;
}
.s-img {
    height: 261px;
    width: 560px;
}
.b-img {
    height: 542px;
    width: 560px;
}
.offer1 {
    background-image: url(../img/offer1.jpg)
}
.offer2 {
    background-image: url(../img/offer2.jpg);
}
.offer3 {
    background-image: url(../img/offer3.jpg);
}
.offer4 {
    background-image: url(../img/offer4.jpg);
}
.items__text {
    text-transform: uppercase;
    line-height: 5px;
    height: 82px;
    background-color: white;
    display: inline-block;
    margin-top: 30px;
    padding: 0 18px;
}
.items__text h3 {
    color: #222222;
    font-size: 18px;
    letter-spacing: 0.45px;
}
.items__text p {
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}

.fetured__items {
    margin-top: 100px;
    height: 23px; 
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 0.75px;
    font-size: 30px;
}

.shop__items {
    margin-top: 16px;
   height: 12px;
   color: #9f9f9f;
   display: flex;
   align-items: center;
   justify-content: center;
}

.featured {
    margin-top: 59px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.featured__product__wrapper {
    position: relative;
    width: 260px;
    height: 375px;
    padding-bottom: 30px;
    
}
.featured__product__wrapper .featured__product {
    width: inherit;
    height: 280px;
    
}
.featured__product__wrapper .featured__product > img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: center;
}.featured__product__wrapper .featured__product__hover {
    background-color: #3a3838;
    opacity: 0.8;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    
} 
.featured__product__wrapper .featured__product a {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    outline: 1px solid #ffffff;
    align-items: center;
    padding: 8px;
}
 .featured__product__wrapper .featured__product a img {
    padding-right: 8px;
}
.featured__product__wrapper:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); 
}

.featured__product__wrapper:hover .featured__product__hover {
    display: flex;
}

.featured__product-desc h3 {
    color: #222222;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase; }

.featured__product-desc p {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }

.featured__button  {
    border: none;
    outline: none;
    background-color: #f16d7f;
    margin: 0 auto;
    height: 48px;
    color: #ffffff;
    padding-left: 24px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featured__button:active {
    background-color: gainsboro;
    border-radius: 50%;
}
.featured__button a  {
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.4px;
    text-decoration: none;
}
.featured__button a:active {
      color: #f16d7f;
}
    .featured__button a span {
      padding-left: 10px;
}

.featured__button:hover{
    opacity: 0.5;
    cursor: pointer;
}

.featured__button img{
    padding-left: 9px;
}

.block__foto{
    height: 745px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content: space-between;
    flex-direction: row;
    margin-bottom: 79px;
}

.block__items{
    width: 263px;
    height: 281px;
} 
.shop-servise {
    display: flex;
    height: 530px;
    margin: 100px auto;
}
.shop-servise__sale {
    text-transform: uppercase;
    color: #ffffff;
    background: url(../img/Layer/Layer_38.png), url(../img/Layer/Layer_39.png);
    background-blend-mode: overlay;
    min-width: 66%;
    height: inherit;
}
.shop-servise__sale__text {
    padding-left: 30px;
    padding-top: 50px;
}
.shop-servise__sale h3 {
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 0;
}
.shop-servise__sale h3 span {
    color: #f16d7f;
}
.shop-servise__sale p {
    font-size: 32px;
    letter-spacing: 0.9px;
    margin-top: 7px;
}
.shop-servise__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #222224;
    padding: 0 30px;
}
.shop-servise__list__item {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    max-height: 24%;
}
.shop-servise__list__item__details {
    color: #fbfbfb;
    padding-left: 20px;
}
.shop-servise__list__item__details h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: 0 auto;
}
.shop-servise__list__item__details p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    margin-top: 7px;
    line-height: 23px;
}


.wrapper-subscribe {
  height: 438px;
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
  margin-bottom: 50px;
    
}
  .wrapper-subscribe__background {
    background:  url(../img/Layer/Rectangle_9_copy.png), url(../img/Layer/Layer_41.png);
    height: inherit;
    background-repeat: no-repeat;
    background-position: center;
      background-size: cover;
 
}

.subscribe {
  height: inherit;
  display: flex; }
  .subscribe__slider {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding-top: 129px; }
  

.subscribe__slider__desc {
      padding: 0 28px;
        padding-top: 10px;
    
     
}
.subscribe__slider__desc p {
        font-weight: 400;
        font-style: italic;
        max-height: 68px;
        margin-top: 0;
        color: #222224;
        font-size: 16px;
        line-height: 24px;
}
.subscribe__slider__desc h3 {
        margin-bottom: 0;
        color: #f16d7f;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.4px;
        
}
.subscribe__slider__desc span{
        margin-bottom: 0;
        color: #222224;
        font-family: "Lato ";
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.3px;
        line-height: 14px;
          text-transform: capitalize;
}
.line{
    padding-top: 40px;
    padding-right: 13px;
    
}
.subscribe__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-left: 2px solid #ffffff;
}
.subscribe__right h3 {
      color: #222224; 
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      margin-bottom: 8px;
}
.subscribe__right p {
      color: #222224;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.35px;
      text-transform: uppercase;
      margin-top: 0;
      padding-bottom: 20px;
}
.subscribe__right input {
      padding-right: 30px;
      padding-left: 30px;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.35px;
      height: 46px;
      width: 220px;
      background-color: #e1e1e1;
      outline: none;
      border: none;
      border-top-left-radius: 23px;
      border-bottom-left-radius: 23px;
}
    input[type="text"]:focus,
    textarea[type="text"]:focus{
    text-transform: capitalize;
    color: #222222;
    opacity: 1.5;
}
.subscribe__right form {
      font-size: 0;
}
.subscribe__right form button {
        border: none;
        outline: none;
        border-bottom-right-radius: 23px;
        border-top-right-radius: 23px;
        background-color: #f16d7f;
        width: 120px;
        height: 47px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.35px; 
}
.subscribe__right form button:hover {
    cursor: pointer;
    opacity: 0.5;
}


.footer {
    height: 460px;
    display: flex;
}

.footer__logo {
    text-transform: uppercase;
    font-size: 27px;
    display: flex;
    align-items: center;
    text-decoration: none;
    line-height: 50px;
    margin-right: 37px;
    color: #222222;
}
.footer__logo:hover{
    opacity: 0.5;
    cursor: pointer;
}

.footer__content {
    padding-top: 109px;
    width: 427px;
    height: 180px;
}

.content {
    display: flex;
    padding-left: 64px;
}

.content a {
    text-decoration: none;
}

.content__left {
    color: #898989;
    font-size: 14px;
    font-family: Lato-ligth;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.company {
    color: #f16d7f;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    padding-top: 97px;
}

.company__list {
    display: flex;
    color: #898989;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 42px;
}
.company__list:hover{
    opacity: 0.5;
}

.footer__content__center {
    padding-left: 137px;
}

.footer__content__rigth {
    padding-left: 92px;
}
.footer-background {
     height: 79px;
     
    background-color: #e6e6e6;
}
.footer__privacy {
    display: flex;
    align-items: center;
}
.footer__copyrigth {
   display: flex;
    height: inherit;
    justify-content: space-between;
}

.privacy {
    color: #7a7a7a;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.social__like i {
    width: 32px;
    display: inline-flex;
    height: 32px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}

.social {
    display: flex;
    align-items: center;
}

.social > a:not(:last-child) {
    margin-right: 15px;
}

.social a {
    text-decoration: none;
    color: #b2b2b2;
    font-family: "Font Awesome";
    font-size: 16px;
    font-weight: 400;
}
.social__like i:hover{
    background-color: #f16d7f;
}
